PORT=
DEBOUNCE_SECONDS=10
REDIS_URL=
POSTGRES_URL=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o-mini
PINECONE_API_KEY=
PINECONE_INDEX=
PINECONE_NAMESPACE=proyectos
KOMMO_SUBDOMAIN=
KOMMO_TOKEN=
TEXT_BOT_ID=
RESPUESTA_FIELD_ID=
MAX_MESSAGES=5
DELAY_BETWEEN_MESSAGES=1500
KOMMO_ALLOWED_STATUS_IDS=94318692
